Repository thebrowsercompany/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/docker.yml, .ci/libxml2.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/sqlite3.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/tensorflow.yml, .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/ubuntu-18.04.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml, .ci/zlib.yml

.ci/docker.yml:
  schedules:
  - cron: 0 8 * * *
    always: true
    branches:
      include:
      - master
    displayName: Daily (8:00 AM) build
  jobs:
  - job: ubuntu
    pool:
      vmImage: ubuntu-18.04
    steps:
    - task: Docker@2
      inputs:
        containerRegistry: DockerHub
        repository: compnerd/swift
  ...

.ci/libxml2.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  stages:
  - stage: android
    dependsOn: null
    pool:
      vmImage: windows-2019
    jobs:
    - template: templates/libxml2.yml
      parameters:
        VisualStudio: 2019/Enterprise
  ...

.ci/linux-devtools.yml:
  jobs:
  - template: templates/linux-devtools.yml
    parameters:
      pool: FlowKey
      toolchain: 14
      arch: x86_64
      host: x64
      platform: linux

.ci/linux-sdk.yml:
  jobs:
  - template: templates/linux-sdk.yml
    parameters:
      pool: FlowKey
      toolchain: 14
      arch: x86_64
      host: x64
      triple: x86_64-unknown-linux-gnu

.ci/macOS.yml:
  schedules:
  - cron: 0 0 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly Build
  stages:
  - stage: toolchain
    jobs:
    - template: templates/toolchain.yml
      parameters:
        pool:
          vmImage: macOS-10.14
        arch: x86_64
        host: x64
        platform: darwin
  ...

.ci/sqlite3.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  stages:
  - stage: android
    dependsOn: null
    pool:
      vmImage: windows-2019
    jobs:
    - template: templates/sqlite3.yml
      parameters:
        VisualStudio: 2019/Enterprise
  ...

.ci/stable-windows-toolchain-vs2019.yml:
  schedules:
  - cron: 0 17 * * *
    branches:
      include:
      - master
    always: true
    displayName: Daily (5:00 PM) Build
  jobs:
  - template: templates/toolchain.yml
    parameters:
      VisualStudio: 2019/Enterprise
      pool:
        vmImage: windows-2019
      arch: aarch64
      host: arm64
  ...

.ci/tensorflow.yml:
  jobs:
  - job: darwin
    pool:
      vmImage: macos-10.14
    timeoutInMinutes: 240
    steps:
    - task: DownloadGitHubRelease@0
      displayName: download bazel
      inputs:
        connection: GitHub
        userRepository: bazelbuild/bazel
        defaultVersionType: specificVersion
        version: '19882193'
  ...

.ci/toolchain-msi.yml:
  jobs:
  - job: windows_x64
    pool:
      vmImage: windows-2019
    steps:
    - task: BatchScript@1
      inputs:
        filename: C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\Tools\VsDevCmd.bat
        arguments: -no_logo -arch=x64 -host_arch=x64
        modifyEnvironment: true
  ...

Update README.md
  README.md
Due: none

repo: add swift-argument-parser
  default.xml
Due: none

5.3: stagger schedule
  .ci/vs2019-swift-5.3.yml
Due: none

Update tensorflow.yml
  .ci/tensorflow.yml
Due: .ci/tensorflow.yml

Create Layout.md
  docs/Layout.md
Due: none

repo: add swift-benchmark to the repository
  default.xml
Due: none

repository: add Yams to the checkout
  default.xml
Due: none

repo: add swift-syntax to the source set
  default.xml
Due: none

Update GettingStartedWindows.md
  docs/GettingStartedWindows.md
Due: none

CI: correct typos
  .ci/vs2019-google.yml
  .ci/vs2019-master-next.yml
Due: none

WIX: update ICU packaging for ICU 67
  wix/windows-icu.wxs
Due: none

CI: bump 5.3 to ICU 67
  .ci/vs2019-swift-5.3.yml
Due: none

Linux: correct SDK build of LLVM
  .ci/templates/linux-sdk.yml
Due: .ci/linux-sdk.yml

Linux: correct path harder
  .ci/templates/linux-sdk.yml
Due: .ci/linux-sdk.yml

linux: really fix path
  .ci/templates/linux-sdk.yml
Due: .ci/linux-sdk.yml

Path conditions:
  .ci/docker.yml: any of: .ci/docker.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/linux-sdk.yml: any of: .ci/linux-sdk.yml, .ci/templates/linux-sdk.yml, cmake/caches/linux-x86_64.cmake, cmake/caches/linux-x86_64-swift-flags.cmake
  .ci/macOS.yml: any of: .ci/macOS.yml, .ci/templates/toolchain.yml
  .ci/sqlite3.yml: any of: .ci/sqlite3.yml, .ci/templates/sqlite3.yml
  .ci/stable-windows-toolchain-vs2019.yml: any of: .ci/windows-toolchain-5.2.yml, .ci/templates/toolchain.yml
  .ci/tensorflow.yml: any of: .ci/tensorflow.yml
  .ci/toolchain-msi.yml: any of: .ci/toolchain-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/ubuntu-18.04-flowkey.yml: any of: .ci/toolchain-linux-x64.yml, .ci/templates/toolchain.yml, cmake/caches/org.compnerd.dt.cmake
  .ci/ubuntu-18.04.yml: any of: .ci/ubuntu-18.04.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/vs2019.yml: any of: .ci/vs2019.yml, .ci/templates/toolchain.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml
  .ci/zlib.yml: any of: .ci/zlib.yml, .ci/templates/zlib.yml
