Repository thebrowsercompany/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/docker.yml, .ci/libxml2.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/sqlite3.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/tensorflow.yml, .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/ubuntu-18.04.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml, .ci/zlib.yml

Path conditions:
  .ci/docker.yml: any of: .ci/docker.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/linux-sdk.yml: any of: .ci/linux-sdk.yml, .ci/templates/linux-sdk.yml, cmake/caches/linux-x86_64.cmake, cmake/caches/linux-x86_64-swift-flags.cmake
  .ci/macOS.yml: any of: .ci/macOS.yml, .ci/templates/toolchain.yml
  .ci/sqlite3.yml: any of: .ci/sqlite3.yml, .ci/templates/sqlite3.yml
  .ci/stable-windows-toolchain-vs2019.yml: any of: .ci/windows-toolchain-5.2.yml, .ci/templates/toolchain.yml
  .ci/tensorflow.yml: any of: .ci/tensorflow.yml
  .ci/toolchain-msi.yml: any of: .ci/toolchain-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/ubuntu-18.04-flowkey.yml: any of: .ci/toolchain-linux-x64.yml, .ci/templates/toolchain.yml, cmake/caches/org.compnerd.dt.cmake
  .ci/ubuntu-18.04.yml: any of: .ci/ubuntu-18.04.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/vs2019.yml: any of: .ci/vs2019.yml, .ci/templates/toolchain.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml
  .ci/zlib.yml: any of: .ci/zlib.yml, .ci/templates/zlib.yml

WiX: fix namespace for devtools
  wix/windows-devtools.wixproj
Due: none

wix: correct XML
  wix/windows-devtools.wxs
Due: none

Update windows-devtools.wxs
  wix/windows-devtools.wxs
Due: none

CI: Use Python 3 instead of 2 (#276)
  .ci/templates/android-sdk.yml
  .ci/templates/toolchain.yml
  .ci/templates/windows-devtools.yml
  .ci/templates/windows-sdk.yml
  .ci/vs2017-swift-5.2.yml
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019-swift-5.3.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml

Update swift-log.yml for Azure Pipelines
  swift-log.yml
Due: none

CI: package devtools in tensorflow builds (#280)
  .ci/templates/swift-installer-bundle.yml
  .ci/vs2019-tensorflow.yml
  .ci/vs2019.yml
  wix/windows-bundle.wixproj
  wix/windows-bundle.wxs
Due: .ci/vs2019.yml

CI: re-order s-a-p before s-d
  .ci/templates/linux-devtools.yml
  .ci/templates/windows-devtools.yml
Due: .ci/linux-devtools.yml, .ci/windows-devtools.yml

Update default.xml
  default.xml
Due: none

CI: add a couple of plists (#287)
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

CI: use python3 for plist writing
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

Update windows-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

build: add a workaround symlink for 5.3 builds (#290)
  .ci/templates/windows-sdk.yml
  .ci/vs2019-swift-5.3.yml
Due: .ci/windows-sdk.yml

Update windows-sdk.wxs
  wix/windows-sdk.wxs
Due: none

Update swift-numerics.yml
  swift-numerics.yml
Due: none

Update swift-argument-parser.yml
  swift-argument-parser.yml
Due: none

Update Yams.yml
  Yams.yml
Due: none

Update GettingStartedWindows.md
  docs/GettingStartedWindows.md
Due: none

Update vs2019.yml
  .ci/vs2019.yml
Due: .ci/vs2019.yml

Update vs2019-google.yml
  .ci/vs2019-google.yml
Due: none

CI: repair TensorFlow toolchain build
  .ci/vs2019-tensorflow.yml
Due: none

repo: add swift-system to the checkout set
  default.xml
Due: none

repo: remove symlinks for swift and cmark
  default.xml
Due: none

repo: migrate apple repositories to "main"
  default.xml
Due: none

repo: move dependencies into their own group
  default.xml
Due: none

repo: remove toolchain-infrastructure
  default.xml
Due: none
