Repository thebrowsercompany/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/docker.yml, .ci/libxml2.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/sqlite3.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/tensorflow.yml, .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/ubuntu-18.04.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml, .ci/zlib.yml

Path conditions:
  .ci/docker.yml: any of: .ci/docker.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/linux-sdk.yml: any of: .ci/linux-sdk.yml, .ci/templates/linux-sdk.yml, cmake/caches/linux-x86_64.cmake, cmake/caches/linux-x86_64-swift-flags.cmake
  .ci/macOS.yml: any of: .ci/macOS.yml, .ci/templates/toolchain.yml
  .ci/sqlite3.yml: any of: .ci/sqlite3.yml, .ci/templates/sqlite3.yml
  .ci/stable-windows-toolchain-vs2019.yml: any of: .ci/windows-toolchain-5.2.yml, .ci/templates/toolchain.yml
  .ci/tensorflow.yml: any of: .ci/tensorflow.yml
  .ci/toolchain-msi.yml: any of: .ci/toolchain-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/ubuntu-18.04-flowkey.yml: any of: .ci/toolchain-linux-x64.yml, .ci/templates/toolchain.yml, cmake/caches/org.compnerd.dt.cmake
  .ci/ubuntu-18.04.yml: any of: .ci/ubuntu-18.04.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/vs2019.yml: any of: .ci/vs2019.yml, .ci/templates/toolchain.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml
  .ci/zlib.yml: any of: .ci/zlib.yml, .ci/templates/zlib.yml

linux: fix swift path
  .ci/templates/linux-sdk.yml
Due: .ci/linux-sdk.yml

linux: repair llbuild build
  .ci/templates/linux-devtools.yml
Due: .ci/linux-devtools.yml

linux: fix llbuild path
  .ci/templates/linux-devtools.yml
Due: .ci/linux-devtools.yml

linux: fix tools-support-core
  .ci/templates/linux-devtools.yml
Due: .ci/linux-devtools.yml

linux: repair swift-package-manager
  .ci/templates/linux-devtools.yml
Due: .ci/linux-devtools.yml

android: propogate NDK_PATH
  cmake/toolchains/android.toolchain.cmake
Due: none

swift-build: reflow some text
  utilities/swift-build.py
Due: none

windows: disable arm64 builds
  .ci/vs2019.yml
Due: .ci/vs2019.yml

android: add comment leader on comments
  cmake/toolchains/android.toolchain.cmake
Due: none

5.3: remove android SDK from VS2019 build
  .ci/vs2019-swift-5.3.yml
Due: none

swift-apis: build the correct checkout
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

CI: disable t-s-c build on Windows
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

Set up CI with Azure Pipelines (#254)
  swift-numerics.yml
Due: none

CI: re-enable TSC build on Windows (#255)
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

Update tensorflow.yml for Azure Pipelines (#256)
  .ci/tensorflow.yml
Due: .ci/tensorflow.yml

Update windows-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

Update linux-devtools.yml
  .ci/templates/linux-devtools.yml
Due: .ci/linux-devtools.yml

Update windows-devtools.yml
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

Set up CI with Azure Pipelines (#265)
  Yams.yml
Due: none

Update vs2019-google.yml
  .ci/vs2019-google.yml
Due: none

TensorFlow: update rules for TensorFlow 2.3.0
  .ci/templates/macos-sdk.yml
  .ci/templates/xctoolchain.yml
  wix/windows-sdk.wxs
  wix/windows-tensorflow.wixproj
  wix/windows-tensorflow.wxs
Due: none

repo: move swift, cmark and create symlinks, add swift-driver
  default.xml
Due: none

Update ubuntu-18.04-flowkey.yml for Azure Pipelines
  .ci/ubuntu-18.04-flowkey.yml
Due: none

Update vs2019-facebook.yml for Azure Pipelines
  .ci/vs2019-facebook.yml
Due: none

Update swift-numerics.yml for Azure Pipelines
  swift-numerics.yml
Due: none
