Repository thebrowsercompany/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/docker.yml, .ci/libxml2.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/sqlite3.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/tensorflow.yml, .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/ubuntu-18.04.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2017.yml, .ci/vs2019-facebook.yml, .ci/vs2019-google.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019-swift-5.4.yml, .ci/vs2019-tensorflow.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml, .ci/zlib.yml

Path conditions:
  .ci/docker.yml: any of: .ci/docker.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/linux-sdk.yml: any of: .ci/linux-sdk.yml, .ci/templates/linux-sdk.yml, cmake/caches/linux-x86_64.cmake, cmake/caches/linux-x86_64-swift-flags.cmake
  .ci/macOS.yml: any of: .ci/macOS.yml, .ci/templates/toolchain.yml
  .ci/sqlite3.yml: any of: .ci/sqlite3.yml, .ci/templates/sqlite3.yml
  .ci/stable-windows-toolchain-vs2019.yml: any of: .ci/windows-toolchain-5.2.yml, .ci/templates/toolchain.yml
  .ci/tensorflow.yml: any of: .ci/tensorflow.yml
  .ci/toolchain-msi.yml: any of: .ci/toolchain-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/ubuntu-18.04-flowkey.yml: any of: .ci/toolchain-linux-x64.yml, .ci/templates/toolchain.yml, cmake/caches/org.compnerd.dt.cmake
  .ci/ubuntu-18.04.yml: any of: .ci/ubuntu-18.04.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/vs2017-swift-5.2.yml: any of: .ci/vs2017-swift-5.2.yml, .ci/templates/toolchain.yml
  .ci/vs2017.yml: any of: .ci/vs2017.yml, .ci/templates/toolchain.yml
  .ci/vs2019-facebook.yml: any of: .ci/vs2019-facebook.yml, .ci/templates/toolchain.yml
  .ci/vs2019-google.yml: any of: .ci/vs2019-google.yml, .ci/templates/toolchain.yml, .ci/templates/toolchain-msi.yml, .ci/templates/windows-sdk.yml, .ci/templates/windows-devtools.yml
  .ci/vs2019-swift-5.2.yml: any of: .ci/vs2019-swift-5.2.yml, .ci/templates/toolchain.yml
  .ci/vs2019-swift-5.4.yml: any of: .ci/vs2019-swift-5.4.yml, .ci/templates/toolchain.yml
  .ci/vs2019-tensorflow.yml: any of: .ci/vs2019-tensorflow.yml, .ci/templates/toolchain.yml
  .ci/vs2019.yml: any of: .ci/vs2019.yml, .ci/templates/toolchain.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml
  .ci/zlib.yml: any of: .ci/zlib.yml, .ci/templates/zlib.yml

Update windows-devtools.yml
  .ci/templates/windows-devtools.yml
Due: .ci/vs2019-google.yml, .ci/windows-devtools.yml

build.cmd: update swift-driver build invocation
  build.cmd
Due: none

CI: switch to vscode-swift repo (#420)
  .github/workflows/swift-toolchain.yml
Due: none

CI: add SQLite3 search paths to swift-driver
  .github/workflows/swift-toolchain.yml
Due: none

Update vs2019-packaging.yml
  .ci/vs2019-packaging.yml
Due: none

VS2019: switch to swift-driver by default (#422)
  .ci/templates/devtools-msi.yml
  .ci/templates/toolchain-msi.yml
  .ci/vs2019.yml
  .github/workflows/swift-toolchain.yml
  wix/windows-devtools.wixproj
  wix/windows-devtools.wxs
  wix/windows-toolchain.wixproj
  wix/windows-toolchain.wxs
Due: .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/vs2019-google.yml, .ci/vs2019.yml

Update toolchain-msi.yml
  .ci/templates/toolchain-msi.yml
Due: .ci/vs2019-google.yml

stage the swift-driver to local toolchain image
  build.cmd
Due: none

Update vs2019.yml
  .ci/vs2019.yml
Due: .ci/vs2019.yml

Update toolchain-master.cmake
  cmake/caches/toolchain-master.cmake
Due: none

Update vs2019-swift-5.5.yml
  .ci/vs2019-swift-5.5.yml
Due: none

Update vs2019-swift-5.6.yml
  .ci/vs2019-swift-5.6.yml
Due: none

Update vs2019-swift-5.4.yml
  .ci/vs2019-swift-5.4.yml
Due: .ci/vs2019-swift-5.4.yml

Include SwiftSyntaxCDataTypes.h in snapshot binary
  .ci/templates/toolchain-msi.yml
  wix/windows-toolchain.wixproj
  wix/windows-toolchain.wxs
Due: .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/vs2019-google.yml

Update windows-toolchain.wixproj
  wix/windows-toolchain.wixproj
Due: .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml

build: update Yams dependency to match
  .ci/templates/toolchain-msi.yml
  .ci/vs2019.yml
  wix/windows-toolchain.wixproj
  wix/windows-toolchain.wxs
Due: .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/vs2019-google.yml, .ci/vs2019.yml

build.cmd: remove support for older builds
  build.cmd
Due: none

build.cmd: reduce the build/install time
  build.cmd
Due: none

repo: unpin swift-argument-parser
  default.xml
Due: none

Wix: handle static linking of LSP
  .ci/templates/devtools-msi.yml
  wix/windows-devtools.wixproj
  wix/windows-devtools.wxs
Due: none

wix: update packaging manifest for SPM
  .ci/templates/devtools-msi.yml
  wix/windows-devtools.wixproj
  wix/windows-devtools.wxs
Due: none

wix: pass along variable
  wix/windows-devtools.wixproj
Due: none

build.cmd: add a workaround for CMake 3.22
  build.cmd
Due: none

build.cmd: remove an unnecessary parameter to CMake
  build.cmd
Due: none

build.cmd: consistently pass `EXPERIMENTAL_STRING_PROCESSING_SOURCE_DIR`
  build.cmd
Due: none

build.cmd: remove unnecessary arguments to CMake
  build.cmd
Due: none

Update default.xml
  default.xml
Due: none

Update package.cmd
  package.cmd
Due: none

CI: enable x86 SDK builds
  .github/workflows/swift-toolchain.yml
Due: none

Update windows-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/vs2019-google.yml, .ci/windows-sdk.yml

Add VS2022 configuration
  .ci/vs2022.yml
Due: none

Update vs2022.yml
  .ci/vs2022.yml
Due: none
