Repository thebrowsercompany/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/docker.yml, .ci/libxml2.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/sqlite3.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/tensorflow.yml, .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/ubuntu-18.04.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml, .ci/zlib.yml

Path conditions:
  .ci/docker.yml: any of: .ci/docker.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/linux-sdk.yml: any of: .ci/linux-sdk.yml, .ci/templates/linux-sdk.yml, cmake/caches/linux-x86_64.cmake, cmake/caches/linux-x86_64-swift-flags.cmake
  .ci/macOS.yml: any of: .ci/macOS.yml, .ci/templates/toolchain.yml
  .ci/sqlite3.yml: any of: .ci/sqlite3.yml, .ci/templates/sqlite3.yml
  .ci/stable-windows-toolchain-vs2019.yml: any of: .ci/windows-toolchain-5.2.yml, .ci/templates/toolchain.yml
  .ci/tensorflow.yml: any of: .ci/tensorflow.yml
  .ci/toolchain-msi.yml: any of: .ci/toolchain-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/ubuntu-18.04-flowkey.yml: any of: .ci/toolchain-linux-x64.yml, .ci/templates/toolchain.yml, cmake/caches/org.compnerd.dt.cmake
  .ci/ubuntu-18.04.yml: any of: .ci/ubuntu-18.04.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/vs2019.yml: any of: .ci/vs2019.yml, .ci/templates/toolchain.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml
  .ci/zlib.yml: any of: .ci/zlib.yml, .ci/templates/zlib.yml

macOS: workaround swift_stdlib shuffle
  .ci/macOS.yml
Due: .ci/macOS.yml

VS2019: workaround stdlib extra toolchain content
  .ci/vs2019.yml
Due: .ci/vs2019.yml

CI: add new repository **NO_CI**
  .ci/macOS-tensorflow.yml
  .ci/macOS.yml
  .ci/ubuntu-18.04-flowkey.yml
  .ci/vs2017-facebook.yml
  .ci/vs2017-swift-5.2.yml
  .ci/vs2017.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-google.yml
  .ci/vs2019-master-next.yml
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019-tensorflow.yml
  .ci/vs2019.yml
Due: .ci/macOS.yml, .ci/vs2019.yml

CI: remove extra parameters which are unused now
  .ci/macOS-tensorflow.yml
  .ci/vs2019-tensorflow.yml
Due: none

CI: build PythonKit on tensorflow builds
  .ci/templates/devtools-deb.yml
  .ci/templates/icu-deb.yml
  .ci/templates/linux-devtools.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/macos-sdk.yml
  .ci/templates/sdk-deb.yml
  .ci/templates/sdk-msi.yml
  .ci/templates/toolchain-deb.yml
  .ci/templates/toolchain-msi.yml
  .ci/templates/toolchain.yml
  .ci/templates/windows-devtools.yml
  .ci/templates/windows-sdk.yml
  cmake/caches/darwin-x86_64-swift-flags.cmake
Due: .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml

CI: build PythonKit and tensorflow-swift-apis shared
  .ci/templates/macos-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

CI: fix tensorflow path
  .ci/templates/macos-sdk.yml
Due: none

macOS: disable tensorflow-swift-apis temporarily
  .ci/templates/macos-sdk.yml
Due: none

Revert "macOS: disable tensorflow-swift-apis temporarily"
  .ci/templates/macos-sdk.yml
Due: none

Windows: attempt to create a toolchain bundle
  .ci/templates/swift-installer-bundle.yml
  .ci/vs2019-google.yml
  wix/windows-bundle.wixproj
  wix/windows-bundle.wxs
  wix/windows-sdk.wixproj
  wix/windows-sdk.wxs
  wix/windows-toolchain.wxs
Due: .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml

MSI: drop Dependencies.h, Driver.h
  wix/windows-toolchain.wxs
Due: .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml

MSI: limit toolchain MSI to x64
  .ci/templates/toolchain-msi.yml
Due: none

MSI: limit SDK package to x64
  .ci/templates/sdk-msi.yml
Due: none

CI: generate MSI for ICU
  .ci/templates/icu-msi.yml
  .ci/vs2019-google.yml
  wix/windows-icu.wixproj
  wix/windows-icu.wxs
  wix/windows-sdk.wixproj
Due: none

tensorflow: create installer bundle
  .ci/vs2019-tensorflow.yml
Due: none

MSI: package tensorflow
  .ci/templates/tensorflow-msi.yml
  .ci/vs2019-tensorflow.yml
  wix/windows-tensorflow.wixproj
  wix/windows-tensorflow.wxs
Due: none

bundle: package up ICU
  .ci/templates/swift-installer-bundle.yml
  .ci/vs2019-google.yml
  wix/windows-bundle.wxs
Due: none

MSI: optionally bundle tensorflow into the installer
  .ci/templates/swift-installer-bundle.yml
  wix/windows-bundle.wixproj
  wix/windows-bundle.wxs
Due: none

VS2019: create installer bundle
  .ci/vs2019-google.yml
  .ci/vs2019.yml
Due: .ci/vs2019.yml

MSI: fix registrar location in MSI
  wix/windows-sdk.wxs
Due: none

MSI: add missing guid for ICU
  wix/windows-icu.wxs
Due: none

MSI: add missing guids for tensorflow
  wix/windows-tensorflow.wxs
Due: none

VS2019: add installer package
  .ci/vs2019.yml
Due: .ci/vs2019.yml

installer: fix tensorflow option
  .ci/templates/swift-installer-bundle.yml
  wix/windows-bundle.wixproj
  wix/windows-bundle.wxs
Due: none

MSI: add PythonKit/swift-apis/_Differentiation to SDK/runtime
  .ci/templates/sdk-msi.yml
  wix/windows-runtime.wixproj
  wix/windows-runtime.wxs
  wix/windows-sdk.wixproj
  wix/windows-sdk.wxs
Due: none

Installer: UX improvements
  wix/Resources/TensorFlow.png
  wix/Resources/swift.png
  wix/windows-bundle.wxs
Due: none

MSI: drop ExternC.h from clang-c
  wix/windows-toolchain.wxs
Due: .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml

MSI: correct registrar location for SDK
  wix/windows-sdk.wxs
Due: none

MSI: rename windows-toolchain.msi to toolchain.msi
  .ci/templates/swift-installer-bundle.yml
  .ci/templates/toolchain-msi.yml
  wix/windows-bundle.wxs
  wix/windows-toolchain.wixproj
Due: .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml

MSI: avoid building in the source tree
  .ci/templates/icu-msi.yml
  .ci/templates/sdk-msi.yml
  .ci/templates/tensorflow-msi.yml
  .ci/templates/toolchain-msi.yml
Due: none

MSI: indicate the build variant during the build
  wix/windows-bundle.wixproj
  wix/windows-runtime.wixproj
  wix/windows-sdk.wixproj
  wix/windows-toolchain.wixproj
Due: .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml

MSI: adjust cabinets for ICU, tensorflow, toolchain
  wix/windows-icu.wxs
  wix/windows-tensorflow.wxs
  wix/windows-toolchain.wxs
Due: .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml

MSI: checksum ICU files
  wix/windows-icu.wxs
Due: none

MSI: checksum SDK contents
  wix/windows-sdk.wxs
Due: none

intaller: build into binaries directory
  .ci/templates/swift-installer-bundle.yml
Due: none

MSI: adjust paths
  wix/windows-runtime.wxs
Due: none

MSI: checksum tensorflow files
  wix/windows-tensorflow.wxs
Due: none

MSI: checksum runtime content, separate cabinet for PDBs
  wix/windows-runtime.wxs
Due: none

MSI: silence some warnings
  wix/windows-toolchain.wxs
Due: .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml

MSI: improve descriptions, normalise, update copyright
  wix/windows-icu.wxs
  wix/windows-runtime.wxs
  wix/windows-sdk.wxs
  wix/windows-tensorflow.wxs
  wix/windows-toolchain.wxs
Due: .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml
