Repository thebrowsercompany/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/docker.yml, .ci/libxml2.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/sqlite3.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/ubuntu-18.04.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml, .ci/zlib.yml

Path conditions:
  .ci/docker.yml: any of: .ci/docker.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/linux-sdk.yml: any of: .ci/linux-sdk.yml, .ci/templates/linux-sdk.yml, cmake/caches/linux-x86_64.cmake, cmake/caches/linux-x86_64-swift-flags.cmake
  .ci/macOS.yml: any of: .ci/macOS.yml, .ci/templates/toolchain.yml
  .ci/sqlite3.yml: any of: .ci/sqlite3.yml, .ci/templates/sqlite3.yml
  .ci/stable-windows-toolchain-vs2019.yml: any of: .ci/windows-toolchain-5.2.yml, .ci/templates/toolchain.yml
  .ci/toolchain-msi.yml: any of: .ci/toolchain-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/ubuntu-18.04-flowkey.yml: any of: .ci/toolchain-linux-x64.yml, .ci/templates/toolchain.yml, cmake/caches/org.compnerd.dt.cmake
  .ci/ubuntu-18.04.yml: any of: .ci/ubuntu-18.04.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/vs2019.yml: any of: .ci/vs2019.yml, .ci/templates/toolchain.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml
  .ci/zlib.yml: any of: .ci/zlib.yml, .ci/templates/zlib.yml

windows: clean the build directory
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

macOS: correct SDK path for augmentation
  .ci/templates/xctoolchain.yml
Due: none

zlib: build PIC
  .ci/templates/zlib.yml
Due: .ci/zlib.yml

zlib: try to workaround old CMake
  .ci/templates/zlib.yml
Due: .ci/zlib.yml

zlib: try separation of `-D`
  .ci/templates/zlib.yml
Due: .ci/zlib.yml

zlib: upgrade CMake
  .ci/templates/zlib.yml
Due: .ci/zlib.yml

zlib: revert readability changes
  .ci/templates/zlib.yml
Due: .ci/zlib.yml

xctoolchain: augment xctoolchain with shims
  .ci/templates/xctoolchain.yml
Due: none

xctoolchain: restore the clang symlink
  .ci/templates/xctoolchain.yml
Due: none

CI: setup master-next configuration
  .ci/vs2019-master-next.yml
Due: none

VS2019: move master-next to master-rebranch
  .ci/vs2019-master-next.yml
Due: none

xctoolchain: fix some symlinks
  .ci/templates/xctoolchain.yml
Due: none

master-next: fix ARM64 builds
  .ci/vs2019-master-next.yml
Due: none

manifest: add curl,CMake,zlib to checkout
  default.xml
Due: none

manifest: checkout llvm-project as llvm-project rather than toolchain
  default.xml
Due: none

Update README.md
  README.md
Due: none

tensorflow: fix install name for dylib
  .ci/tensorflow.yml
Due: none

tensorflow: try to adjust LC_ID earlier
  .ci/tensorflow.yml
Due: none

devtools: style changes for Windows
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

tensorflow: attempt to simplify the tensorflow build on Windows
  .ci/tensorflow.yml
Due: none

tensorflow: update implib path
  .ci/vs2019-tensorflow.yml
Due: none

tensorflow: try to reduce explicitness to try to templatize
  .ci/tensorflow.yml
Due: none

tensorflow: use the `//tensorflow:tensorflow` target
  .ci/tensorflow.yml
Due: none

Update macOS-tensorflow.yml for Azure Pipelines
  .ci/macOS-tensorflow.yml
Due: none

VS2019: enable toolchain packaging for 5.2
  .ci/templates/toolchain-msi.yml
  .ci/vs2019-swift-5.2.yml
Due: none

devtools: cleanup artifacts
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

devtools: fix workspace spelling
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

VS2019: initial cut to restore the MSI for the SDK
  .ci/templates/sdk-msi.yml
  .ci/vs2019-google.yml
  wix/windows-sdk.wixproj
  wix/windows-sdk.wxs
Due: none

docker: remove pipeline, moved to release
  .ci/docker.yml
Due: .ci/docker.yml

docker: bump up code server
  docker/Ubuntu-18.04/Dockerfile
Due: .ci/docker.yml, .ci/ubuntu-18.04.yml

CI: first cut to revive the runtime MSI
  .ci/templates/sdk-msi.yml
  wix/windows-runtime.wixproj
  wix/windows-runtime.wxs
Due: none

docker: preserve ca-certificates
  docker/Ubuntu-18.04/Dockerfile
Due: .ci/docker.yml, .ci/ubuntu-18.04.yml

docker: silence fetch
  docker/Ubuntu-18.04/Dockerfile
Due: .ci/docker.yml, .ci/ubuntu-18.04.yml

docker: use `--install-extension` for ms-vscode.cmake-tools
  docker/Ubuntu-18.04/Dockerfile
Due: .ci/docker.yml, .ci/ubuntu-18.04.yml

docker: correct silent flag
  docker/Ubuntu-18.04/Dockerfile
Due: .ci/docker.yml, .ci/ubuntu-18.04.yml

VS2019: package SDK and runtime once more
  .ci/vs2019.yml
Due: .ci/vs2019.yml
