Repository thebrowsercompany/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/docker.yml, .ci/libxml2.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/sqlite3.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/tensorflow.yml, .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/ubuntu-18.04.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2017.yml, .ci/vs2019-facebook.yml, .ci/vs2019-google.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019-swift-5.4.yml, .ci/vs2019-tensorflow.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml, .ci/zlib.yml

Path conditions:
  .ci/docker.yml: any of: .ci/docker.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/linux-sdk.yml: any of: .ci/linux-sdk.yml, .ci/templates/linux-sdk.yml, cmake/caches/linux-x86_64.cmake, cmake/caches/linux-x86_64-swift-flags.cmake
  .ci/macOS.yml: any of: .ci/macOS.yml, .ci/templates/toolchain.yml
  .ci/sqlite3.yml: any of: .ci/sqlite3.yml, .ci/templates/sqlite3.yml
  .ci/stable-windows-toolchain-vs2019.yml: any of: .ci/windows-toolchain-5.2.yml, .ci/templates/toolchain.yml
  .ci/tensorflow.yml: any of: .ci/tensorflow.yml
  .ci/toolchain-msi.yml: any of: .ci/toolchain-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/ubuntu-18.04-flowkey.yml: any of: .ci/toolchain-linux-x64.yml, .ci/templates/toolchain.yml, cmake/caches/org.compnerd.dt.cmake
  .ci/ubuntu-18.04.yml: any of: .ci/ubuntu-18.04.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/vs2017-swift-5.2.yml: any of: .ci/vs2017-swift-5.2.yml, .ci/templates/toolchain.yml
  .ci/vs2017.yml: any of: .ci/vs2017.yml, .ci/templates/toolchain.yml
  .ci/vs2019-facebook.yml: any of: .ci/vs2019-facebook.yml, .ci/templates/toolchain.yml
  .ci/vs2019-google.yml: any of: .ci/vs2019-google.yml, .ci/templates/toolchain.yml, .ci/templates/toolchain-msi.yml, .ci/templates/windows-sdk.yml, .ci/templates/windows-devtools.yml
  .ci/vs2019-swift-5.2.yml: any of: .ci/vs2019-swift-5.2.yml, .ci/templates/toolchain.yml
  .ci/vs2019-swift-5.4.yml: any of: .ci/vs2019-swift-5.4.yml, .ci/templates/toolchain.yml
  .ci/vs2019-tensorflow.yml: any of: .ci/vs2019-tensorflow.yml, .ci/templates/toolchain.yml
  .ci/vs2019.yml: any of: .ci/vs2019.yml, .ci/templates/toolchain.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml
  .ci/zlib.yml: any of: .ci/zlib.yml, .ci/templates/zlib.yml

Delete ubuntu-18.04-flowkey.yml
  .ci/ubuntu-18.04-flowkey.yml
Due: none

Delete vs2019-google.yml
  .ci/vs2019-google.yml
Due: .ci/vs2019-google.yml

Delete vs2019-tensorflow.yml
  .ci/vs2019-tensorflow.yml
Due: .ci/vs2019-tensorflow.yml

Delete vs2017-facebook.yml
  .ci/vs2017-facebook.yml
Due: none

Delete ubuntu-18.04-google.yml
  .ci/ubuntu-18.04-google.yml
Due: none

Delete macOS-tensorflow.yml
  .ci/macOS-tensorflow.yml
Due: none

Delete tensorflow.yml
  .ci/tensorflow.yml
Due: .ci/tensorflow.yml

Delete macOS.yml
  .ci/macOS.yml
Due: .ci/macOS.yml

Delete Yams.yml
  Yams.yml
Due: none

Delete swift-argument-parser.yml
  swift-argument-parser.yml
Due: none

Delete swift-numerics.yml
  swift-numerics.yml
Due: none

Delete swift-system.yml
  swift-system.yml
Due: none

Delete tensorflow.xml
  tensorflow.xml
Due: none

Delete swift-log.yml
  swift-log.yml
Due: none

Delete swift-atomcis.yml
  swift-atomcis.yml
Due: none

Delete vs2019-master-next.yml
  .ci/vs2019-master-next.yml
Due: none

Delete vs2019-swift-5.3.yml
  .ci/vs2019-swift-5.3.yml
Due: none

Delete vs2019-swift-5.2.yml
  .ci/vs2019-swift-5.2.yml
Due: .ci/vs2019-swift-5.2.yml

Delete vs2017-swift-5.2.yml
  .ci/vs2017-swift-5.2.yml
Due: .ci/vs2017-swift-5.2.yml

Delete vs2017.yml
  .ci/vs2017.yml
Due: .ci/vs2017.yml

Update swift-format.yml
  .github/workflows/swift-format.yml
Due: none

CI: setup Swift 5.8 pipeline
  .ci/vs2022-swift-5.8.yml
Due: none

Update vs2022-swift-5.8.yml
  .ci/vs2022-swift-5.8.yml
Due: none

CI: remove ARM packaging for 5.8
  .ci/vs2022-swift-5.8.yml
Due: none

Delete vs2019-devtools.yml
  .ci/vs2019-devtools.yml
Due: none

Update vs2022-swift-5.7.yml
  .ci/vs2022-swift-5.7.yml
Due: none

build: remove backwards compatibility for rename
  build.cmd
Due: none
