Repository thebrowsercompany/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/docker.yml, .ci/libxml2.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/sqlite3.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/tensorflow.yml, .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/ubuntu-18.04.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml, .ci/zlib.yml

Path conditions:
  .ci/docker.yml: any of: .ci/docker.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/linux-sdk.yml: any of: .ci/linux-sdk.yml, .ci/templates/linux-sdk.yml, cmake/caches/linux-x86_64.cmake, cmake/caches/linux-x86_64-swift-flags.cmake
  .ci/macOS.yml: any of: .ci/macOS.yml, .ci/templates/toolchain.yml
  .ci/sqlite3.yml: any of: .ci/sqlite3.yml, .ci/templates/sqlite3.yml
  .ci/stable-windows-toolchain-vs2019.yml: any of: .ci/windows-toolchain-5.2.yml, .ci/templates/toolchain.yml
  .ci/tensorflow.yml: any of: .ci/tensorflow.yml
  .ci/toolchain-msi.yml: any of: .ci/toolchain-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/ubuntu-18.04-flowkey.yml: any of: .ci/toolchain-linux-x64.yml, .ci/templates/toolchain.yml, cmake/caches/org.compnerd.dt.cmake
  .ci/ubuntu-18.04.yml: any of: .ci/ubuntu-18.04.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/vs2019.yml: any of: .ci/vs2019.yml, .ci/templates/toolchain.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml
  .ci/zlib.yml: any of: .ci/zlib.yml, .ci/templates/zlib.yml

Update macOS.yml
  .ci/macOS.yml
Due: .ci/macOS.yml

Update macOS-tensorflow.yml
  .ci/macOS-tensorflow.yml
Due: none

Update vs2019-tensorflow.yml
  .ci/vs2019-tensorflow.yml
Due: none

Update sdk-msi.yml
  .ci/templates/sdk-msi.yml
Due: none

Update windows-devtools.wxs
  wix/windows-devtools.wxs
Due: none

CI: update tensorflow-swift-apis branch name
  .ci/macOS-tensorflow.yml
  .ci/macOS.yml
  .ci/tensorflow.yml
  .ci/ubuntu-18.04-flowkey.yml
  .ci/ubuntu-18.04-google.yml
  .ci/vs2017-facebook.yml
  .ci/vs2017-swift-5.2.yml
  .ci/vs2017.yml
  .ci/vs2019-devtools.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-google.yml
  .ci/vs2019-master-next.yml
  .ci/vs2019-packaging.yml
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019-swift-5.3.yml
  .ci/vs2019-tensorflow.yml
  .ci/vs2019.yml
Due: .ci/macOS.yml, .ci/tensorflow.yml, .ci/vs2019.yml

Update windows-devtools.yml
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

CI: Yams renamed master to main
  .ci/macOS-tensorflow.yml
  .ci/macOS.yml
  .ci/ubuntu-18.04-flowkey.yml
  .ci/ubuntu-18.04-google.yml
  .ci/vs2017-facebook.yml
  .ci/vs2017.yml
  .ci/vs2019-devtools.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-google.yml
  .ci/vs2019-packaging.yml
  .ci/vs2019-swift-5.3.yml
  .ci/vs2019-tensorflow.yml
  .ci/vs2019.yml
Due: .ci/macOS.yml, .ci/vs2019.yml

CI: fork for 5.4 release
  .ci/vs2019-swift-5.4.yml
  cmake/caches/toolchain-5.4.cmake
Due: none

fix 5.4 configuration
  .ci/vs2019-swift-5.4.yml
Due: none

5.4: SPM has not yet forked
  .ci/vs2019-swift-5.4.yml
Due: none

5.4: correct branches for other projects
  .ci/vs2019-swift-5.4.yml
Due: none

5.3,5.4: pin CURL to a specific build
  .ci/vs2019-swift-5.3.yml
  .ci/vs2019-swift-5.4.yml
Due: none

5.3,5.4: pin to available version of SQLite3
  .ci/vs2019-swift-5.3.yml
  .ci/vs2019-swift-5.4.yml
Due: none

5.4: correct version string
  .ci/vs2019-swift-5.4.yml
Due: none

5.4: correct SQLite version
  .ci/vs2019-swift-5.4.yml
Due: none

5.4: correct sqlite version harder
  .ci/vs2019-swift-5.4.yml
Due: none

Update README.md
  README.md
Due: none

CI: use the correct versioned cache for 5.4
  .ci/templates/toolchain.yml
  .ci/vs2019-swift-5.4.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml
