Repository thebrowsercompany/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/docker.yml, .ci/libxml2.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/sqlite3.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/tensorflow.yml, .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/ubuntu-18.04.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2017.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019-tensorflow.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml, .ci/zlib.yml

Path conditions:
  .ci/docker.yml: any of: .ci/docker.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/linux-sdk.yml: any of: .ci/linux-sdk.yml, .ci/templates/linux-sdk.yml, cmake/caches/linux-x86_64.cmake, cmake/caches/linux-x86_64-swift-flags.cmake
  .ci/macOS.yml: any of: .ci/macOS.yml, .ci/templates/toolchain.yml
  .ci/sqlite3.yml: any of: .ci/sqlite3.yml, .ci/templates/sqlite3.yml
  .ci/stable-windows-toolchain-vs2019.yml: any of: .ci/windows-toolchain-5.2.yml, .ci/templates/toolchain.yml
  .ci/tensorflow.yml: any of: .ci/tensorflow.yml
  .ci/toolchain-msi.yml: any of: .ci/toolchain-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/ubuntu-18.04-flowkey.yml: any of: .ci/toolchain-linux-x64.yml, .ci/templates/toolchain.yml, cmake/caches/org.compnerd.dt.cmake
  .ci/ubuntu-18.04.yml: any of: .ci/ubuntu-18.04.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/vs2017-swift-5.2.yml: any of: .ci/vs2017-swift-5.2.yml, .ci/templates/toolchain.yml
  .ci/vs2017.yml: any of: .ci/vs2017.yml, .ci/templates/toolchain.yml
  .ci/vs2019-facebook.yml: any of: .ci/vs2019-facebook.yml, .ci/templates/toolchain.yml
  .ci/vs2019-swift-5.2.yml: any of: .ci/vs2019-swift-5.2.yml, .ci/templates/toolchain.yml
  .ci/vs2019-tensorflow.yml: any of: .ci/vs2019-tensorflow.yml, .ci/templates/toolchain.yml
  .ci/vs2019.yml: any of: .ci/vs2019.yml, .ci/templates/toolchain.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml
  .ci/zlib.yml: any of: .ci/zlib.yml, .ci/templates/zlib.yml

SwiftInstaller: use /MT and /MTd for CustomAction
  wix/SwiftInstaller/SwiftInstaller.vcxproj
Due: none

Create swift-argument-parser.yml
  .github/workflows/swift-argument-parser.yml
Due: none

Update swift-argument-parser.yml
  .github/workflows/swift-argument-parser.yml
Due: none

Create swift-log.yml
  .github/workflows/swift-log.yml
Due: none

Update devtools-msi.yml
  .ci/templates/devtools-msi.yml
Due: none

Update README.md
  README.md
Due: none

CI: repair the SPM build on windows
  .ci/templates/devtools-msi.yml
  .ci/templates/windows-devtools.yml
  .ci/vs2019-devtools.yml
  .ci/vs2019-google.yml
  .ci/vs2019-swift-5.4.yml
  .ci/vs2019-swift-5.5.yml
  .ci/vs2019.yml
  wix/windows-devtools.wxs
Due: .ci/vs2019.yml, .ci/windows-devtools.yml

installer: default the value for `HAVE_SWIFT_COLLECTIONS`
  wix/windows-devtools.wixproj
Due: none

Update windows-devtools.wixproj
  wix/windows-devtools.wixproj
Due: none

Update windows-devtools.wxs
  wix/windows-devtools.wxs
Due: none

Update vs2019-swift-5.5.yml
  .ci/vs2019-swift-5.5.yml
Due: none

Update vs2019-devtools.yml
  .ci/vs2019-devtools.yml
Due: none

Update vs2019.yml
  .ci/vs2019.yml
Due: .ci/vs2019.yml

Update swift-format.yml (#374)
  .github/workflows/swift-format.yml
Due: none

Update swift-format.yml
  .github/workflows/swift-format.yml
Due: none

swift-format: package up into a MSI
  .github/workflows/swift-format.yml
  wix/swift-format.wixproj
  wix/swift-format.wxs
Due: none

CI: correctly version SDK builds
  .ci/vs2019-swift-5.4.yml
  .ci/vs2019-swift-5.5.yml
Due: none

Update Yams.yml for Azure Pipelines
  Yams.yml
Due: none

Create swift-corelibs.yml
  .github/workflows/swift-corelibs.yml
Due: none

Update swift-corelibs.yml
  .github/workflows/swift-corelibs.yml
Due: none

Make compiler runtimes step compatible with latest CMake (3.21) (#381)
  .ci/templates/toolchain.yml
  cmake/caches/toolchain-5.4.cmake
  cmake/caches/toolchain-5.5.cmake
  cmake/caches/toolchain-master.cmake
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2017.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019-tensorflow.yml, .ci/vs2019.yml

use older cmake for 5.4 and newer cmake for other branches (#382)
  .ci/templates/toolchain.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2017.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019-tensorflow.yml, .ci/vs2019.yml

Revert "use older cmake for 5.4 and newer cmake for other branches (#382)" (#383)
  .ci/templates/toolchain.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2017.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019-tensorflow.yml, .ci/vs2019.yml

Use older cmake for 5.4 and newer cmake for other branches, attempt 2 (#384)
  .ci/templates/toolchain.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2017.yml, .ci/vs2019-facebook.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019-tensorflow.yml, .ci/vs2019.yml

CI: attempt to migrate azure builders to GHA
  .github/workflows/swift-toolchain.yml
  cmake/caches/windows-x86_64.cmake
Due: none

Update default.xml
  default.xml
Due: none

Update build.cmd
  build.cmd
Due: none

manifest: adjust the default set
  default.xml
Due: none
