Repository thebrowsercompany/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/docker.yml, .ci/libxml2.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/sqlite3.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/tensorflow.yml, .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/ubuntu-18.04.yml, .ci/vs2017-swift-5.2.yml, .ci/vs2017.yml, .ci/vs2019-facebook.yml, .ci/vs2019-google.yml, .ci/vs2019-swift-5.2.yml, .ci/vs2019-swift-5.4.yml, .ci/vs2019-tensorflow.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml, .ci/zlib.yml

.ci/docker.yml:
  schedules:
  - cron: 0 8 * * *
    always: true
    branches:
      include:
      - master
    displayName: Daily (8:00 AM) build
  jobs:
  - job: ubuntu
    pool:
      vmImage: ubuntu-18.04
    steps:
    - task: Docker@2
      inputs:
        containerRegistry: DockerHub
        repository: compnerd/swift
  ...

.ci/libxml2.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  stages:
  - stage: android
    dependsOn: null
    pool:
      vmImage: windows-2019
    jobs:
    - template: templates/libxml2.yml
      parameters:
        VisualStudio: 2019/Enterprise
  ...

.ci/linux-devtools.yml:
  jobs:
  - template: templates/linux-devtools.yml
    parameters:
      pool: FlowKey
      toolchain: 14
      arch: x86_64
      host: x64
      platform: linux

.ci/linux-sdk.yml:
  jobs:
  - template: templates/linux-sdk.yml
    parameters:
      pool: FlowKey
      toolchain: 14
      arch: x86_64
      host: x64
      triple: x86_64-unknown-linux-gnu

.ci/macOS.yml:
  schedules:
  - cron: 0 0 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly Build
  stages:
  - stage: toolchain
    pool:
      vmImage: macOS-10.14
    jobs:
    - template: templates/toolchain.yml
      parameters:
        arch: x86_64
        host: x64
        platform: darwin
  ...

.ci/sqlite3.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  stages:
  - stage: android
    dependsOn: null
    pool:
      vmImage: windows-2019
    jobs:
    - template: templates/sqlite3.yml
      parameters:
        VisualStudio: 2019/Enterprise
  ...

.ci/stable-windows-toolchain-vs2019.yml:
  schedules:
  - cron: 0 17 * * *
    branches:
      include:
      - master
    always: true
    displayName: Daily (5:00 PM) Build
  jobs:
  - template: templates/toolchain.yml
    parameters:
      VisualStudio: 2019/Enterprise
      pool:
        vmImage: windows-2019
      arch: aarch64
      host: arm64
  ...

.ci/tensorflow.yml:
  jobs:
  - job: darwin
    pool:
      vmImage: macos-10.14
    timeoutInMinutes: 240
    steps:
    - task: DownloadGitHubRelease@0
      displayName: download bazel
      inputs:
        connection: GitHub
        userRepository: bazelbuild/bazel
        defaultVersionType: specificVersion
        version: '25759820'
  ...

.ci/toolchain-msi.yml:
  jobs:
  - job: windows_x64
    pool:
      vmImage: windows-2019
    steps:
    - task: BatchScript@1
      inputs:
        filename: C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\Tools\VsDevCmd.bat
        arguments: -no_logo -arch=x64 -host_arch=x64
        modifyEnvironment: true
  ...

Update build.cmd
  build.cmd
Due: none

Update vs2022.yml
  .ci/vs2022.yml
Due: none

Update windows-devtools.yml
  .ci/templates/windows-devtools.yml
Due: .ci/vs2019-google.yml, .ci/windows-devtools.yml

Update default.xml
  default.xml
Due: none

Update vs2019-devtools.yml for Azure Pipelines
  .ci/vs2019-devtools.yml
Due: none

build.cmd: update the build rules for Windows
  build.cmd
Due: none

Update vs2019-swift-5.5.yml for Azure Pipelines
  .ci/vs2019-swift-5.5.yml
Due: none

CI: update cmake invocation
  .ci/vs2022.yml
  build.cmd
Due: none

repo: pin swift-collections
  default.xml
Due: none

Delete vs2019-facebook.yml
  .ci/vs2019-facebook.yml
Due: .ci/vs2019-facebook.yml

Path conditions:
  .ci/docker.yml: any of: .ci/docker.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/linux-sdk.yml: any of: .ci/linux-sdk.yml, .ci/templates/linux-sdk.yml, cmake/caches/linux-x86_64.cmake, cmake/caches/linux-x86_64-swift-flags.cmake
  .ci/macOS.yml: any of: .ci/macOS.yml, .ci/templates/toolchain.yml
  .ci/sqlite3.yml: any of: .ci/sqlite3.yml, .ci/templates/sqlite3.yml
  .ci/stable-windows-toolchain-vs2019.yml: any of: .ci/windows-toolchain-5.2.yml, .ci/templates/toolchain.yml
  .ci/tensorflow.yml: any of: .ci/tensorflow.yml
  .ci/toolchain-msi.yml: any of: .ci/toolchain-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/ubuntu-18.04-flowkey.yml: any of: .ci/toolchain-linux-x64.yml, .ci/templates/toolchain.yml, cmake/caches/org.compnerd.dt.cmake
  .ci/ubuntu-18.04.yml: any of: .ci/ubuntu-18.04.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/vs2017-swift-5.2.yml: any of: .ci/vs2017-swift-5.2.yml, .ci/templates/toolchain.yml
  .ci/vs2017.yml: any of: .ci/vs2017.yml, .ci/templates/toolchain.yml
  .ci/vs2019-facebook.yml: any of: .ci/vs2019-facebook.yml, .ci/templates/toolchain.yml
  .ci/vs2019-google.yml: any of: .ci/vs2019-google.yml, .ci/templates/toolchain.yml, .ci/templates/toolchain-msi.yml, .ci/templates/windows-sdk.yml, .ci/templates/windows-devtools.yml
  .ci/vs2019-swift-5.2.yml: any of: .ci/vs2019-swift-5.2.yml, .ci/templates/toolchain.yml
  .ci/vs2019-swift-5.4.yml: any of: .ci/vs2019-swift-5.4.yml, .ci/templates/toolchain.yml
  .ci/vs2019-tensorflow.yml: any of: .ci/vs2019-tensorflow.yml, .ci/templates/toolchain.yml
  .ci/vs2019.yml: any of: .ci/vs2019.yml, .ci/templates/toolchain.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml
  .ci/zlib.yml: any of: .ci/zlib.yml, .ci/templates/zlib.yml
