Repository thebrowsercompany/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/docker.yml, .ci/libxml2.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/sqlite3.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/tensorflow.yml, .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/ubuntu-18.04.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml, .ci/zlib.yml

Path conditions:
  .ci/docker.yml: any of: .ci/docker.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/linux-sdk.yml: any of: .ci/linux-sdk.yml, .ci/templates/linux-sdk.yml, cmake/caches/linux-x86_64.cmake, cmake/caches/linux-x86_64-swift-flags.cmake
  .ci/macOS.yml: any of: .ci/macOS.yml, .ci/templates/toolchain.yml
  .ci/sqlite3.yml: any of: .ci/sqlite3.yml, .ci/templates/sqlite3.yml
  .ci/stable-windows-toolchain-vs2019.yml: any of: .ci/windows-toolchain-5.2.yml, .ci/templates/toolchain.yml
  .ci/tensorflow.yml: any of: .ci/tensorflow.yml
  .ci/toolchain-msi.yml: any of: .ci/toolchain-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/ubuntu-18.04-flowkey.yml: any of: .ci/toolchain-linux-x64.yml, .ci/templates/toolchain.yml, cmake/caches/org.compnerd.dt.cmake
  .ci/ubuntu-18.04.yml: any of: .ci/ubuntu-18.04.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/vs2019.yml: any of: .ci/vs2019.yml, .ci/templates/toolchain.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml
  .ci/zlib.yml: any of: .ci/zlib.yml, .ci/templates/zlib.yml

repo: add PythonKit
  default.xml
Due: none

Update vs2019-tensorflow.yml
  .ci/vs2019-tensorflow.yml
Due: none

Update README.md
  README.md
Due: none

windows: avoid cleaning artifacts for devtools
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

VS2017: synchronise repositories with VS2019
  .ci/vs2017.yml
  .ci/vs2019.yml
Due: .ci/vs2019.yml

VS2017: synchronise repositories with VS2019 (5.2)
  .ci/vs2017-swift-5.2.yml
  .ci/vs2019-swift-5.2.yml
Due: none

linux: adjust checked out repositories on Linux
  .ci/templates/linux-sdk.yml
Due: .ci/linux-sdk.yml

CI: synchronise the checkouts further
  .ci/templates/devtools-deb.yml
  .ci/templates/icu-deb.yml
  .ci/templates/linux-devtools.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/sdk-deb.yml
  .ci/templates/toolchain-deb.yml
  .ci/templates/toolchain.yml
  .ci/templates/windows-sdk.yml
Due: .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml, .ci/windows-sdk.yml

VS*: attempt to add more resources
  .ci/vs2017-facebook.yml
  .ci/vs2017-swift-5.2.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-swift-5.2.yml
Due: none

toolchain: fix checkout
  .ci/templates/toolchain.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml

Windows: setup tensorflow-swift-apis build on Windows
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

MSI: try to synchronise the checkout list
  .ci/templates/sdk-msi.yml
  .ci/templates/toolchain-msi.yml
Due: none

xctoolchain: fix tensorflow image
  .ci/templates/xctoolchain.yml
Due: none

tensorflow: fix tensorflow dylib symlinks
  .ci/templates/xctoolchain.yml
Due: none

macOS: use @rpath names for SDK
  cmake/caches/swift-stdlib-darwin-x86_64.cmake
Due: none

tensorflow: update checkout definition
  tensorflow.xml
Due: none

Makefile: use `cmake` to set the environment variable
  Makefile
Due: none

Makefile: drop bootstrap support for now
  Makefile
Due: none

Makefile: split the toolchain-tools and toolchain build
  Makefile
Due: none

Makefile: quote commands for spaces
  Makefile
Due: none

Makefile: property detect Windows
  Makefile
Due: none

Makefile: remove `ONESHELL` usage
  Makefile
Due: none

windows: match devtools checkout
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

devtools: correct typo
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

devtools: correct path to swift repository
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

CI: update LLDB configuration for merge (#176)
  .ci/vs2017-facebook.yml
  .ci/vs2017.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-google.yml
  .ci/vs2019-tensorflow.yml
  .ci/vs2019.yml
Due: .ci/vs2019.yml

Update default.xml
  default.xml
Due: none

SDK: correct debian packaging for the SDK
  .ci/templates/sdk-deb.yml
Due: none

repo: add swift-protobuf to checkout
  default.xml
Due: none

repo: add swift-nio to checkout
  default.xml
Due: none

Update curl.cmake (#177)
  .ci/templates/curl.yml
  cmake/caches/curl-android.cmake
  cmake/caches/curl-linux.cmake
  cmake/caches/curl-windows.cmake
  cmake/caches/curl.cmake
Due: none

Windows: build devtools into binaries directory
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

CI: synchronize the checkout for the SDK (#178)
  .ci/templates/linux-sdk.yml
Due: .ci/linux-sdk.yml

repo: add swift-log to checkout
  default.xml
Due: none

repo: add swift-win32 to repository set
  default.xml
Due: none
