Repository thebrowsercompany/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/docker.yml, .ci/libxml2.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/sqlite3.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/tensorflow.yml, .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/ubuntu-18.04.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml, .ci/zlib.yml

Path conditions:
  .ci/docker.yml: any of: .ci/docker.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/linux-sdk.yml: any of: .ci/linux-sdk.yml, .ci/templates/linux-sdk.yml, cmake/caches/linux-x86_64.cmake, cmake/caches/linux-x86_64-swift-flags.cmake
  .ci/macOS.yml: any of: .ci/macOS.yml, .ci/templates/toolchain.yml
  .ci/sqlite3.yml: any of: .ci/sqlite3.yml, .ci/templates/sqlite3.yml
  .ci/stable-windows-toolchain-vs2019.yml: any of: .ci/windows-toolchain-5.2.yml, .ci/templates/toolchain.yml
  .ci/tensorflow.yml: any of: .ci/tensorflow.yml
  .ci/toolchain-msi.yml: any of: .ci/toolchain-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/ubuntu-18.04-flowkey.yml: any of: .ci/toolchain-linux-x64.yml, .ci/templates/toolchain.yml, cmake/caches/org.compnerd.dt.cmake
  .ci/ubuntu-18.04.yml: any of: .ci/ubuntu-18.04.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/vs2019.yml: any of: .ci/vs2019.yml, .ci/templates/toolchain.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml
  .ci/zlib.yml: any of: .ci/zlib.yml, .ci/templates/zlib.yml

CI: disable android SDK builds to allow us to get newer toolchains
  .ci/templates/android-sdk.yml
Due: none

cmake: add 5.3 cache
  cmake/caches/toolchain-5.3.cmake
Due: none

CI: sign the MSIs for the Windows packaging
  .ci/templates/icu-msi.yml
  .ci/templates/sdk-msi.yml
  .ci/templates/swift-installer-bundle.yml
  .ci/templates/tensorflow-msi.yml
  .ci/templates/toolchain-msi.yml
Due: none

Update swift-numerics.yml for Azure Pipelines
  swift-numerics.yml
Due: none

devtools: clean up previous builds
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

Update linux-devtools.yml
  .ci/templates/linux-devtools.yml
Due: .ci/linux-devtools.yml

Update windows-devtools.yml
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

Update vs2019-swift-5.3.yml
  .ci/vs2019-swift-5.3.yml
Due: none

Update vs2019-google.yml
  .ci/vs2019-google.yml
Due: none

Update swift-installer-bundle.yml
  .ci/templates/swift-installer-bundle.yml
Due: none

Update toolchain-msi.yml
  .ci/templates/toolchain-msi.yml
Due: none

Update sdk-msi.yml
  .ci/templates/sdk-msi.yml
Due: none

Add packaging only pipeline
  .ci/vs2019-packaging.yml
Due: none

Update vs2019-packaging.yml for Azure Pipelines
  .ci/vs2019-packaging.yml
Due: none

Update toolchain.yml
  .ci/templates/toolchain.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml

Update vs2017-facebook.yml
  .ci/vs2017-facebook.yml
Due: none

Update vs2019-facebook.yml
  .ci/vs2019-facebook.yml
Due: none

Update vs2019-packaging.yml
  .ci/vs2019-packaging.yml
Due: none

Update windows-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

WiX: setup rules for packaging the developer tools
  wix/windows-devtools.wixproj
  wix/windows-devtools.wxs
Due: none
