Repository thebrowsercompany/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/libxml2.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/ubuntu-18.04.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml

Path conditions:
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/linux-sdk.yml: any of: .ci/linux-sdk.yml, .ci/templates/linux-sdk.yml, cmake/caches/linux-x86_64.cmake, cmake/caches/linux-x86_64-swift-flags.cmake
  .ci/macOS.yml: any of: .ci/macOS.yml, .ci/templates/toolchain.yml
  .ci/stable-windows-toolchain-vs2019.yml: any of: .ci/windows-toolchain-5.2.yml, .ci/templates/toolchain.yml
  .ci/toolchain-msi.yml: any of: .ci/toolchain-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/ubuntu-18.04-flowkey.yml: any of: .ci/toolchain-linux-x64.yml, .ci/templates/toolchain.yml, cmake/caches/org.compnerd.dt.cmake
  .ci/ubuntu-18.04.yml: any of: .ci/ubuntu-18.04.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/vs2019.yml: any of: .ci/vs2019.yml, .ci/templates/toolchain.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml

VS2019: fix VS version
  .ci/vs2019-google.yml
Due: none

tensorflow: fix image layout
  .ci/tensorflow.yml
Due: none

xctoolchain: fix artifact names
  .ci/templates/xctoolchain.yml
Due: none

toolchains: exclude more agents
  .ci/templates/toolchain.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml

VS2019: correct paramters
  .ci/vs2019-google.yml
Due: none

VS2019: explicitly specify python executable
  .ci/vs2019-google.yml
Due: none

linux: add SDK deb
  .ci/linux-sdk-deb.yml
  .ci/templates/sdk-deb.yml
  .ci/ubuntu-18.04-flowkey.yml
Due: none

toolchain: change build directory **NO_CI**
  .ci/templates/toolchain.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml

tensorflow: correct artifacts for Darwin
  .ci/tensorflow.yml
Due: none

toolchain: correct ICU location
  .ci/templates/toolchain.yml
Due: .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml

linux: correct control location, SDK location
  .ci/templates/sdk-deb.yml
Due: none

VS2019: remove Android NDK from Google builds
  .ci/vs2019-google.yml
Due: none

toolchain: use -p for property to MSIBuild
  .ci/templates/toolchain-msi.yml
Due: none

linux: correct libdispatch test results location
  .ci/templates/linux-sdk.yml
Due: .ci/linux-sdk.yml

adjust the xctoolchain staging
  .ci/templates/xctoolchain.yml
Due: none

VS2017: convert to staged
  .ci/vs2017-swift-5.2.yml
Due: none

CI: convert pool to stage property
  .ci/curl.yml
  .ci/icu.yml
  .ci/libxml2.yml
  .ci/macOS.yml
  .ci/sqlite3.yml
  .ci/templates/android-sdk.yml
  .ci/templates/libxml2.yml
  .ci/templates/linux-devtools.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/sdk-deb.yml
  .ci/templates/sqlite3.yml
  .ci/templates/toolchain-msi.yml
  .ci/templates/toolchain.yml
  .ci/templates/windows-devtools.yml
  .ci/templates/windows-sdk.yml
  .ci/templates/xctoolchain.yml
  .ci/templates/zlib.yml
  .ci/ubuntu-18.04-flowkey.yml
  .ci/vs2017-facebook.yml
  .ci/vs2017-swift-5.2.yml
  .ci/vs2017.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-google.yml
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019.yml
  .ci/zlib.yml
Due: .ci/libxml2.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/macOS.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/ubuntu-18.04-flowkey.yml, .ci/vs2019.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml

CI: convert pool to stage property
  .ci/templates/curl.yml
  .ci/templates/icu-deb.yml
  .ci/templates/icu.yml
Due: none

zlib: correct typo
  .ci/zlib.yml
Due: none

linux: correct rsync for SDK deb image
  .ci/templates/sdk-deb.yml
Due: none

toolchain: correct parameter for TOOLCHAIN_ROOT
  .ci/templates/toolchain-msi.yml
Due: none

SDK: avoid UsePythonVersion on non-hosted agent
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

SDK: correct ICU location for Windows SDK
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

SDK: correct ICU location for android SDK
  .ci/templates/android-sdk.yml
Due: none

SDK: convert android SDK to use download
  .ci/templates/android-sdk.yml
  .ci/templates/linux-sdk.yml
Due: .ci/linux-sdk.yml

SDK: correct deb packaging step
  .ci/templates/sdk-deb.yml
Due: none

SDK: correct platform location
  .ci/templates/sdk-deb.yml
Due: none

SDK: correct CURL location for android SDK
  .ci/templates/android-sdk.yml
  .ci/templates/linux-sdk.yml
Due: .ci/linux-sdk.yml

SDK: normalise linux and Android SDKs further
  .ci/templates/android-sdk.yml
  .ci/templates/linux-sdk.yml
Due: .ci/linux-sdk.yml

SDK: build android SDK in binaries
  .ci/templates/android-sdk.yml
  .ci/templates/linux-sdk.yml
Due: .ci/linux-sdk.yml

ICU: add hack to keep s clean
  .ci/templates/android-sdk.yml
  .ci/templates/icu-deb.yml
Due: none

linux: correct deb publish
  .ci/templates/sdk-deb.yml
Due: none

xctoolchain: fix permissions
  .ci/templates/xctoolchain.yml
Due: none

linux: add devtools dpkg
  .ci/linux-devtools-deb.yml
  .ci/templates/devtools-deb.yml
  .ci/ubuntu-18.04-flowkey.yml
Due: none

linux: remove unneessary scope
  .ci/templates/devtools-deb.yml
Due: none

linux: fix typo in devtools deb
  .ci/templates/devtools-deb.yml
Due: none

windows: move swift options upto the pipeline
  .ci/templates/windows-sdk.yml
  .ci/vs2017-facebook.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-google.yml
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019.yml
Due: .ci/vs2019.yml, .ci/windows-sdk.yml

windows: correct artifact locations
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

windows: homogenise SDK rules with android
  .ci/templates/android-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml
