Repository thebrowsercompany/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/libxml2.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml

.ci/libxml2.yml:
  name: libxml2
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  jobs:
  - job: windows_armv7
    pool:
      vmImage: windows-2019
    variables:
      arch: armv7
      host: arm
      platform: windows
      xml2.version: development
  ...

.ci/windows-devtools.yml:
  name: Windows DevTools
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  jobs:
  - template: templates/windows-devtools.yml
    parameters:
      arch: x86_64
      build: x64
      triple: x86_64-unknown-windows-msvc
  ...

.ci/windows-sdk.yml:
  name: Windows SDK
  schedules:
  - cron: 0 6 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (6:00 AM) Build
  jobs:
  - template: templates/windows-sdk.yml
    parameters:
      arch: x86_64
      build: x64
      triple: x86_64-unknown-windows-msvc

cmake: build SQLite3 as PIC
  cmake/SQLite/CMakeLists.txt
Due: none

Linux: configure the Swift flags
  .ci/templates/linux-devtools.yml
Due: none

android: update Foundation configure
  .ci/templates/android-sdk.yml
Due: none

Linux: adjust configure for Foundation
  .ci/templates/linux-sdk.yml
Due: none

android: adjust dispatch_DIR
  .ci/templates/android-sdk.yml
Due: none

android: swap install order
  .ci/templates/android-sdk.yml
Due: none

Update windows-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

SDK: add a workaround for Windows
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

add repo manifest
  default.xml
Due: none

MSI: rename installer to wix (NFC)
  wix/windows-runtime.wixproj
  wix/windows-runtime.wxs
  wix/windows-sdk.wixproj
  wix/windows-sdk.wxs
  wix/windows-toolchain.wixproj
  wix/windows-toolchain.wxs
Due: none

wix: update toolchain build rules
  wix/windows-toolchain.wixproj
  wix/windows-toolchain.wxs
Due: none

CI: add new pipeline for MSI generation
  .ci/toolchain-msi.yml
Due: none

wix: ignore shims to get installer into a testable state
  wix/windows-toolchain.wixproj
Due: none

wix: correct path
  wix/windows-toolchain.wxs
Due: none

CI: correct triggering paths
  .ci/toolchain-msi.yml
Due: none

wix: ignore swift shims until available
  wix/windows-toolchain.wxs
Due: none

CI: correct trigger paths
  .ci/toolchain-msi.yml
Due: none

wix: add missing usr
  wix/windows-toolchain.wxs
Due: none

WIX: more path adjustments
  wix/windows-toolchain.wxs
Due: none

WIX: adjust windows toolchain
  wix/windows-toolchain.wixproj
  wix/windows-toolchain.wxs
Due: none

WIX: correct variable name
  wix/windows-toolchain.wixproj
Due: none

Update toolchain-msi.yml for Azure Pipelines
  .ci/toolchain-msi.yml
Due: none

Update README.md
  README.md
Due: none

Update Windows-x86_64-swift-flags.cmake
  cmake/caches/Windows-x86_64-swift-flags.cmake
Due: none

CI: add VS2019 AMD64 toolchain MSI
  .ci/toolchain-vs2019-amd64-msi.yml
Due: none

VS2019 x64 MSI
  .ci/toolchain-vs2019-amd64-msi.yml
Due: none

docker: update some of the tooling for docker
  Dockerfile
  InstallSwiftToolchain.ps1
Due: none

SDK: correct re-configure of Foundation
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

SDK: disable windows armv7, arm64, x86 CI
  .ci/windows-sdk.yml
Due: .ci/windows-sdk.yml

SDK: add workaround for XCTest
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

Update android-sdk.yml for Azure Pipelines
  .ci/android-sdk.yml
Due: none

CI: restore PR testing
  .ci/android-sdk.yml
  .ci/azure-pipelines-aws-agent.yml
  .ci/curl.yml
  .ci/icu.yml
  .ci/libxml2.yml
  .ci/linux-devtools.yml
  .ci/linux-sdk.yml
  .ci/sqlite3.yml
  .ci/toolchain-darwin-x64.yml
  .ci/toolchain-linux-x64.yml
  .ci/toolchain-msi.yml
  .ci/toolchain-vs2017-amd64.yml
  .ci/toolchain-vs2019-amd64-msi.yml
  .ci/toolchain-vs2019-amd64.yml
  .ci/windows-devtools.yml
  .ci/windows-sdk.yml
  .ci/zlib.yml
Due: .ci/libxml2.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml

SDK: reorder install rules
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

SDK: update rules for XCTest
  .ci/templates/linux-sdk.yml
Due: none

Path conditions:
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml
