Repository thebrowsercompany/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/libxml2.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/ubuntu-18.04.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml

.ci/libxml2.yml:
  name: libxml2
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  jobs:
  - job: windows_armv7
    pool:
      vmImage: windows-2019
    variables:
      arch: armv7
      host: arm
      platform: windows
      xml2.version: development
  ...

.ci/toolchain-vs2019-amd64-msi.yml:
  jobs:
  - job: windows_x64
    pool:
      vmImage: windows-2019
    steps:
    - task: BatchScript@1
      inputs:
        filename: C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\Tools\VsDevCmd.bat
        arguments: -no_logo -arch=x64 -host_arch=x64
        modifyEnvironment: true
  ...

.ci/ubuntu-18.04.yml:
  name: Ubuntu 18.04
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      always: true
      displayName: Nightly (8:00 AM) build
  jobs:
    steps:
    - task: Docker@2
      inputs:
        command: buildAndPush
        repository: compnerd/swift
        Dockerfile: docker/Ubuntu-18.04/Dockerfile

.ci/windows-devtools.yml:
  name: Windows DevTools
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  jobs:
  - template: templates/windows-devtools.yml
    parameters:
      arch: x86_64
      build: x64
      triple: x86_64-unknown-windows-msvc
  ...

.ci/windows-sdk.yml:
  name: Windows SDK
  schedules:
  - cron: 0 6 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (6:00 AM) Build
  jobs:
  - template: templates/windows-sdk.yml
    parameters:
      arch: x86_64
      build: x64
      triple: x86_64-unknown-windows-msvc

docker: add libpython2.7
  docker/Ubuntu-18.04/Dockerfile
Due: .ci/ubuntu-18.04.yml

caches: add repl_swift to install image
  cmake/caches/org.compnerd.dt.cmake
Due: none

CI: watch cmake cache a bit more carefully
  .ci/toolchain-linux-x64.yml
Due: none

docker: bump toolchain/sdk for swift_repl
  docker/Ubuntu-18.04/Dockerfile
Due: .ci/ubuntu-18.04.yml

MSI: add liblldb.dll, repl_swift.exe
  wix/windows-toolchain.wxs
Due: .ci/toolchain-vs2019-amd64-msi.yml

MSI: correct location for liblldb.dll
  wix/windows-toolchain.wxs
Due: .ci/toolchain-vs2019-amd64-msi.yml

Docker: add ninja, git, cmake
  docker/Ubuntu-18.04/Dockerfile
Due: .ci/ubuntu-18.04.yml

utilities: add helper to launch docker
  utilities/run-docker.sh
Due: none

CI: attempt to fix linux devtools
  .ci/templates/linux-devtools.yml
Due: none

docker: further refinement
  docker/Ubuntu-18.04/Dockerfile
  utilities/run-docker.sh
Due: .ci/ubuntu-18.04.yml

CI: correct case for Linux
  .ci/templates/linux-devtools.yml
Due: none

repo: add SourceKit-LSP
  default.xml
Due: none

SDK: tweak llbuild handling in Windows SDK
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

SDK: swap install order for Windows
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

repo: add swift-tools-support-core
  default.xml
Due: none

docker: add initial configuration, caches
  docker/Ubuntu-18.04/.dockerignore
  docker/Ubuntu-18.04/Dockerfile
  docker/Ubuntu-18.04/cmake-tools-kits.json
  docker/Ubuntu-18.04/cmake/toolchains/Linux-aarch64.cmake
  docker/Ubuntu-18.04/cmake/toolchains/Linux-armv7.cmake
  docker/Ubuntu-18.04/cmake/toolchains/Linux-i686.cmake
  docker/Ubuntu-18.04/cmake/toolchains/Linux-x86_64.cmake
  docker/Ubuntu-18.04/settings.json
Due: .ci/ubuntu-18.04.yml

repo: add indexstore-db
  default.xml
Due: none

docker: add libncurses to the image
  docker/Ubuntu-18.04/Dockerfile
Due: .ci/ubuntu-18.04.yml

docker: preconfigure clang-format
  docker/Ubuntu-18.04/settings.json
Due: none

docker: fix image build
  docker/Ubuntu-18.04/Dockerfile
Due: .ci/ubuntu-18.04.yml

caches: add WebAssembly backend
  cmake/caches/org.compnerd.dt.cmake
Due: none

DEB: package android aarch64 SDK
  .ci/android-sdk-deb.yml
  debian/android-sdk
Due: none

DEB: correct android sdk name
  .ci/android-sdk-deb.yml
Due: none

DEB: correct android sdk package name
  debian/android-sdk
Due: none

Update README.md
  README.md
Due: none

docker: add android Swift SDK
  docker/Ubuntu-18.04/Dockerfile
Due: .ci/ubuntu-18.04.yml

utiltiies: make windows-swift python3 compatible
  utilities/windows-swift.py
Due: none

windows-swift: make print python 3 compatible
  utilities/windows-swift.py
Due: none

utilities: remove unnecessary import
  utilities/windows-swift.py
Due: none

docker: rename Linux SDK debian control
  .ci/linux-sdk-deb.yml
  debian/linux-sdk
Due: none

deb: update layout of Linux SDK deb
  .ci/linux-sdk-deb.yml
Due: none

deb: update layout of android SDK deb
  .ci/android-sdk-deb.yml
Due: none

add pipeline for windows sdk deb
  .ci/windows-sdk-deb.yml
  debian/windows-sdk
Due: none

ci: correct typo
  .ci/windows-sdk-deb.yml
Due: none

windows-swift: add default for build-id
  utilities/windows-swift.py
Due: none

docker: add Windows SDK
  docker/Ubuntu-18.04/Dockerfile
Due: .ci/ubuntu-18.04.yml

Docker: adjust the docker image a bit
  docker/Ubuntu-18.04/Dockerfile
Due: .ci/ubuntu-18.04.yml

Path conditions:
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/ubuntu-18.04.yml: any of: .ci/ubuntu-18.04.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml
