Repository thebrowsercompany/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/libxml2.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/ubuntu-18.04.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml

Path conditions:
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/ubuntu-18.04.yml: any of: .ci/ubuntu-18.04.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml

docker: tweak default settings for VSCode
  docker/Ubuntu-18.04/settings.json
Due: none

docker: remove clang-format plugin for cpptools
  docker/Ubuntu-18.04/Dockerfile
Due: .ci/ubuntu-18.04.yml

docker: further improve settings for VSCode
  docker/Ubuntu-18.04/settings.json
Due: none

devtools: define `ApplyPatches` before use
  .ci/templates/linux-devtools.yml
Due: none

devtools: configure TSC
  .ci/linux-devtools.yml
  .ci/templates/linux-devtools.yml
Due: none

devtools: correct typo
  .ci/templates/linux-devtools.yml
Due: none

devtools: use consistent ApplyPatches
  .ci/templates/linux-devtools.yml
Due: none

devtools: correct source location
  .ci/templates/linux-devtools.yml
Due: none

devtools: build/install tools-support-core
  .ci/templates/linux-devtools.yml
Due: none

devtools: disable tsc install
  .ci/templates/linux-devtools.yml
Due: none

Update README.md
  README.md
Due: none

devtools: try to get the Windows llbuild build working
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

caches: explicitly add link path for Swift :-(
  cmake/caches/Windows-x86_64-swift-flags.cmake
Due: none

Revert "caches: explicitly add link path for Swift :-("
  cmake/caches/Windows-x86_64-swift-flags.cmake
Due: none

docker: correct language name
  docker/Ubuntu-18.04/cmake-tools-kits.json
Due: none

docker: define cmake, ctest paths
  docker/Ubuntu-18.04/settings.json
Due: none

docker: expand linux toolchain definition
  docker/Ubuntu-18.04/cmake/toolchains/Linux-x86_64.cmake
Due: none

docker: enable compilation database by default
  docker/Ubuntu-18.04/Dockerfile
Due: .ci/ubuntu-18.04.yml

deb: add devtools deb
  .ci/linux-devtools-deb.yml
  debian/linux-devtools
Due: none

windows-swift: add `--order-by` support
  utilities/windows-swift.py
Due: none

windows-swift: correct tabulation
  utilities/windows-swift.py
Due: none

windows-swift: better python3 compatibility
  utilities/windows-swift.py
Due: none

devtools: add IndexStoreDB to Windows
  .ci/templates/windows-devtools.yml
  .ci/windows-devtools.yml
Due: .ci/windows-devtools.yml

devtools: correct build type for IndexStoreDB
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

devtools: add version for indexstore-db
  .ci/linux-devtools.yml
Due: none

ci: add windows sdk configuration for CI
  .ci/windows-sdk-facebook.yml
Due: none

devtools: use the correct toolchain
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml
