Repository thebrowsercompany/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/libxml2.yml, .ci/linux-devtools.yml, .ci/linux-sdk.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml, .ci/ubuntu-18.04.yml, .ci/windows-devtools.yml, .ci/windows-sdk.yml

.ci/libxml2.yml:
  name: libxml2
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  jobs:
  - job: windows_armv7
    pool:
      vmImage: windows-2019
    variables:
      arch: armv7
      host: arm
      platform: windows
      xml2.version: development
  ...

.ci/linux-devtools.yml:
  jobs:
  - template: templates/linux-devtools.yml
    parameters:
      pool: FlowKey
      toolchain: 14
      arch: x86_64
      host: x64
      platform: linux

.ci/linux-sdk.yml:
  jobs:
  - template: templates/linux-sdk.yml
    parameters:
      pool: FlowKey
      toolchain: 14
      arch: x86_64
      host: x64
      triple: x86_64-unknown-linux-gnu

.ci/stable-windows-toolchain-vs2019.yml:
  schedules:
  - cron: 0 17 * * *
    branches:
      include:
      - master
    always: true
    displayName: Daily (5:00 PM) Build
  jobs:
  - template: templates/toolchain.yml
    parameters:
      VisualStudio: 2019/Enterprise
      pool:
        vmImage: windows-2019
      arch: aarch64
      host: arm64
  ...

.ci/toolchain-msi.yml:
  jobs:
  - job: windows_x64
    pool:
      vmImage: windows-2019
    steps:
    - task: BatchScript@1
      inputs:
        filename: C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\Tools\VsDevCmd.bat
        arguments: -no_logo -arch=x64 -host_arch=x64
        modifyEnvironment: true
  ...

.ci/toolchain-vs2019-amd64-msi.yml:
  jobs:
  - job: windows_x64
    pool:
      vmImage: windows-2019
    steps:
    - task: BatchScript@1
      inputs:
        filename: C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\Tools\VsDevCmd.bat
        arguments: -no_logo -arch=x64 -host_arch=x64
        modifyEnvironment: true
  ...

.ci/ubuntu-18.04.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) build
  jobs:
  - job: ubuntu
    steps:
    - task: Docker@2
      inputs:
        containerRegistry: DockerHub
        repository: compnerd/swift
        command: buildAndPush
  ...

.ci/windows-devtools.yml:
  name: Windows DevTools
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  jobs:
  - template: templates/windows-devtools.yml
    parameters:
      arch: x86_64
      build: x64
      triple: x86_64-unknown-windows-msvc
  ...

.ci/windows-sdk.yml:
  name: Windows SDK
  schedules:
  - cron: 0 6 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (6:00 AM) Build
  jobs:
  - template: templates/windows-sdk.yml
    parameters:
      arch: x86_64
      build: x64
      triple: x86_64-unknown-windows-msvc

Update README.md
  README.md
Due: none

docker: rename pipeline configuration
  .ci/docker.yml
Due: none

linux: correct paths in devtools
  .ci/templates/linux-devtools.yml
Due: .ci/linux-devtools.yml

linux: correct cache path for devtools
  .ci/templates/linux-devtools.yml
Due: .ci/linux-devtools.yml

macOS: rename macOS pipeline configuration
  .ci/macOS.yml
Due: none

SDK: fix toolchain download paths
  .ci/templates/android-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

dependencies: add tensorflow
  .ci/tensorflow.yml
Due: none

linux: correct SDK directory
  .ci/templates/linux-devtools.yml
Due: .ci/linux-devtools.yml

tensorflow: adjust echos
  .ci/tensorflow.yml
Due: none

tensorflow: use `--user`
  .ci/tensorflow.yml
Due: none

tensorflow: try to adjust path differently
  .ci/tensorflow.yml
Due: none

tensorflow: adjust path more correctly
  .ci/tensorflow.yml
Due: none

linux: correct indexstore-db repository name
  .ci/toolchain-linux-x64.yml
Due: none

windows: adjust path adjustment
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

linux: rename pipeline configuration
  .ci/ubuntu-18.04-flowkey.yml
Due: none

dependencies: convert to stages
  .ci/curl.yml
  .ci/icu.yml
  .ci/libxml2.yml
  .ci/sqlite3.yml
  .ci/templates/curl.yml
  .ci/templates/icu.yml
  .ci/templates/libxml2.yml
  .ci/templates/sqlite3.yml
  .ci/templates/zlib.yml
  .ci/zlib.yml
Due: .ci/libxml2.yml

tensorflow: adjust triggers
  .ci/tensorflow.yml
Due: none

linux: adjust devtools artifact name
  .ci/templates/linux-devtools.yml
Due: .ci/linux-devtools.yml

linux: add packaging stage for ICU
  .ci/icu-deb.yml
  .ci/templates/icu-deb.yml
  .ci/ubuntu-18.04-flowkey.yml
Due: none

macOS: create xctoolchain archive
  .ci/macOS.yml
  .ci/templates/xctoolchain.yml
Due: none

xctoolchain: fix typo
  .ci/templates/xctoolchain.yml
Due: none

linux: convert devtools to pipeline artifacts
  .ci/templates/linux-devtools.yml
Due: .ci/linux-devtools.yml

VS2017,VS2019: add MSI package step
  .ci/templates/toolchain-msi.yml
  .ci/toolchain-msi.yml
  .ci/toolchain-vs2019-amd64-msi.yml
  .ci/vs2017.yml
  .ci/vs2019.yml
  wix/windows-toolchain.wixproj
Due: .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml

toolchain: stripping breaks lldb
  .ci/templates/toolchain.yml
Due: .ci/stable-windows-toolchain-vs2019.yml

VS2019: cleanup obsolete parameter
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019.yml
Due: none

CI: add missing repository alias
  .ci/macOS.yml
  .ci/ubuntu-18.04-flowkey.yml
  .ci/vs2017-facebook.yml
  .ci/vs2017-swift-5.2.yml
  .ci/vs2017.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019.yml
Due: none

ICU: convert to pipeline artifact
  .ci/macOS.yml
  .ci/templates/android-sdk.yml
  .ci/templates/icu.yml
  .ci/templates/linux-sdk.yml
  .ci/templates/toolchain.yml
  .ci/templates/windows-sdk.yml
  .ci/vs2017-facebook.yml
  .ci/vs2017-swift-5.2.yml
  .ci/vs2017.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019.yml
Due: .ci/linux-sdk.yml, .ci/stable-windows-toolchain-vs2019.yml, .ci/windows-sdk.yml

Update icu-deb.yml
  .ci/templates/icu-deb.yml
Due: none

Update macOS.yml
  .ci/macOS.yml
Due: none

Update windows-toolchain.wixproj
  wix/windows-toolchain.wixproj
Due: .ci/toolchain-msi.yml, .ci/toolchain-vs2019-amd64-msi.yml

Update toolchain-msi.yml
  .ci/templates/toolchain-msi.yml
Due: none

windows: convert SDK dependencies to pipeline resources
  .ci/templates/windows-sdk.yml
  .ci/vs2017-facebook.yml
  .ci/vs2019-facebook.yml
  .ci/vs2019-swift-5.2.yml
  .ci/vs2019.yml
Due: .ci/windows-sdk.yml

sdk: adjust ordering
  .ci/templates/linux-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/linux-sdk.yml, .ci/windows-sdk.yml

windows: build SDK into binaries directory
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

curl: convert zlib to pipeline resource
  .ci/curl.yml
  .ci/templates/curl.yml
Due: none

add a new VS2019 job
  .ci/vs2019-google.yml
Due: none

Path conditions:
  .ci/libxml2.yml: any of: .ci/libxml2.yml, .ci/templates/libxml2.yml
  .ci/linux-devtools.yml: any of: .ci/linux-devtools.yml, .ci/templates/linux-devtools.yml
  .ci/linux-sdk.yml: any of: .ci/linux-sdk.yml, .ci/templates/linux-sdk.yml, cmake/caches/linux-x86_64.cmake, cmake/caches/linux-x86_64-swift-flags.cmake
  .ci/stable-windows-toolchain-vs2019.yml: any of: .ci/windows-toolchain-5.2.yml, .ci/templates/toolchain.yml
  .ci/toolchain-msi.yml: any of: .ci/toolchain-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/toolchain-vs2019-amd64-msi.yml: any of: .ci/toolchain-vs2019-amd64-msi.yml, wix/windows-toolchain.wixproj, wix/windows-toolchain.wxs
  .ci/ubuntu-18.04.yml: any of: .ci/ubuntu-18.04.yml, docker/Ubuntu-18.04/.dockerignore, docker/Ubuntu-18.04/Dockerfile
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml
