Repository thebrowsercompany/swift-build: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/windows-devtools.yml, .ci/windows-sdk.yml

.ci/windows-devtools.yml:
  name: Windows DevTools
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (8:00 AM) Build
  jobs:
  - template: templates/windows-devtools.yml
    parameters:
      arch: x86_64
      build: x64
      triple: x86_64-unknown-windows-msvc
  ...

.ci/windows-sdk.yml:
  name: Windows SDK
  schedules:
  - cron: 0 6 * * *
    branches:
      include:
      - master
    always: true
    displayName: Nightly (6:00 AM) Build
  jobs:
  - template: templates/windows-sdk.yml
    parameters:
      arch: x86_64
      build: x64
      triple: x86_64-unknown-windows-msvc

devtools: convert to steps template
  .ci/templates/windows-devtools.yml
  .ci/windows-devtools.yml
Due: .ci/windows-devtools.yml

devtools: adjust path earlier
  .ci/windows-devtools.yml
Due: .ci/windows-devtools.yml

devtools: re-source VsDevCmd
  .ci/windows-devtools.yml
Due: .ci/windows-devtools.yml

devtools: try native path separator
  .ci/windows-devtools.yml
Due: .ci/windows-devtools.yml

devtools: don't use variables
  .ci/windows-devtools.yml
Due: .ci/windows-devtools.yml

devtools: correct spelling for modifyEnvironment
  .ci/windows-devtools.yml
Due: .ci/windows-devtools.yml

devtools: install and package llbuild
  .ci/templates/windows-devtools.yml
Due: .ci/windows-devtools.yml

build: refactor Windows SDK into steps
  .ci/templates/windows-sdk.yml
  .ci/windows-sdk.yml
  cmake/caches/Windows-aarch64-clang.cmake
  cmake/caches/Windows-x86_64-clang.cmake
Due: .ci/windows-sdk.yml

use builder instead of root for cherry-picks
  .ci/azure-pipelines-aws-agent.yml
  .ci/templates/toolchain.yml
  .ci/toolchain-vs2019-amd64.yml
  .ci/toolchain-vs2019-arm64.yml
Due: none

build: correct steps
  .ci/windows-sdk.yml
Due: .ci/windows-sdk.yml

windows: remove arm64 build
  .ci/windows-sdk.yml
Due: .ci/windows-sdk.yml

Update windows-sdk.yml for Azure Pipelines
  .ci/windows-sdk.yml
Due: .ci/windows-sdk.yml

windows: use cl for llbuild
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

Update icu.yml for Azure Pipelines
  .ci/icu.yml
Due: none

cmake: add Windows x86 cache
  cmake/caches/Windows-x86.cmake
Due: none

Update zlib.yml for Azure Pipelines
  .ci/zlib.yml
Due: none

Update curl.yml for Azure Pipelines
  .ci/curl.yml
Due: none

Update libxml2.yml for Azure Pipelines
  .ci/libxml2.yml
Due: none

Update sqlite3.yml for Azure Pipelines
  .ci/sqlite3.yml
Due: none

Create linux-devtools
  .ci/linux-devtools
Due: none

Create linux-devtools.yml
  .ci/templates/linux-devtools.yml
Due: none

Rename linux-devtools to linux-devtools.yml
  .ci/linux-devtools.yml
Due: none

cmake: add caches for windows x86
  cmake/caches/Windows-x86-clang.cmake
  cmake/caches/swift-stdlib-windows-x86.cmake
Due: none

windows: adjust arch
  .ci/windows-sdk.yml
  cmake/caches/Windows-i686-clang.cmake
  cmake/caches/swift-stdlib-windows-i686.cmake
Due: .ci/windows-sdk.yml

windows: correct arch spelling
  .ci/curl.yml
  .ci/icu.yml
  .ci/libxml2.yml
  .ci/sqlite3.yml
  .ci/zlib.yml
Due: none

rename Windows i686 cache
  cmake/caches/Windows-i686.cmake
Due: none

Update windows-sdk.yml
  .ci/windows-sdk.yml
Due: .ci/windows-sdk.yml

Create details.md
  docs/details.md
Due: none

docs: update image
  images/windows-swift.jpg
Due: none

caches: add Windows armv7 cache
  cmake/caches/Windows-armv7.cmake
Due: none

CI: support PR testing on SDKs
  .ci/templates/android-sdk.yml
  .ci/templates/windows-sdk.yml
Due: .ci/windows-sdk.yml

more detailed instructions for installing on Windows (#9)
  docs/Windows.md
Due: none

Path conditions:
  .ci/windows-devtools.yml: any of: .ci/windows-devtools.yml, .ci/templates/windows-devtools.yml
  .ci/windows-sdk.yml: any of: .ci/windows-sdk.yml, .ci/templates/windows-sdk.yml
